blinker==1.6.2
click==8.1.5
colorama==0.4.4
Flask==2.3.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.8.0
Flask-TokenAuth==0.1.0
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
python-dotenv==0.19.0
six==1.16.0
Werkzeug==2.3.6
zipp==3.16.2

# SQLAlchemy (Upgrade to current version)
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.29
pymysql==1.1.0
